@import url("https://fonts.googleapis.com/css2?family=Hind+Siliguri:wght@300;400;500;600;700&family=Ibarra+Real+Nova:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&family=Jost:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Libre+Franklin:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Quicksand:wght@300;400;500;600;700&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* start header */
header {
  padding-bottom: 25px;
  padding-left: 250px;
  transition: all 0.4s ease 0s;
  height: 100px;
  display: grid;
  align-items: center;
  z-index: 10;
  border-bottom: 1px solid rgba(231, 231, 231, 0.18);
  margin: auto;
}
.container_header {
  max-width: 960px;
}
.dark-light {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.dark-light ul {
  display: flex;
  margin-right: 30px;
}
.dark-light li {
  padding: 55px 15px;
  list-style: none;
}
.right i {
  font-size: 15px;
}
.btn-material i {
  background-color: green;
  margin: 10px;
  padding: 10px 15px;
  text-align: center;
  text-transform: uppercase;

  background-size: 200%;
  color: white;
  display: block;
  line-height: 1.2;
  border-radius: 50%;
  cursor: pointer;
  margin-bottom: 40px;
}
.right {
  display: flex;
}
/* Light theme */
#myBody {
  background-color: black;
}
#switchButton {
  background-color: white;
}
#switchButton .fa-sun {
  display: none;
}
#switchButton .fa-moon {
  display: block;
}

/* Dark Theme*/
.dark#myBody {
  background-color: white;
}
.dark #switchButton {
  background-color: black;
}
.dark #switchButton .fa-sun {
  display: block;
  color: white;
}

.dark #switchButton .fa-moon {
  display: none;
}
.dark .card {
  background-color: black;
  color: white;
}

/* end header */

/* start banner */
.banner-wrap {
  height: auto;
  position: relative;
  overflow: hidden;
}
.banner-slide {
  height: 100%;
}
.slick-list {
  overflow: hidden;
  margin: 0;
  padding: 0;
}
.slick-track {
  top: 0;
  left: 0;
  margin-left: auto;
  margin-right: auto;
}
.slick-slide {
  width: 302px;
  position: relative;
  left: 0px;
  top: 0px;
  z-index: 999;
  opacity: 1;
}
.slick-slide .banner-slidebg1 img {
  background-size: cover;
  background-repeat: no-repeat, no-repeat, no-repeat;
  background-position: top;
}
.banner-wrap .container {
  z-index: 12;
}
.hero-content {
  color: white;
}
.btn-primary {
  color: #fff;
  background-color: #00a63f;
  border-color: #00a63f;
}

.btn-style {
  padding: 15px 50px;
  font-size: 16px;
  line-height: 18px;
  font-weight: 600;
  transition: 0.3s ease-in;
  border-radius: var(--border-radius);
}

.banner-slidebg1 {
  width: 100%;
  position: relative;
}
.banner-slidebg1 h1 {
  position: absolute;
  top: 75px;
  left: 71px;
  border: 2px solid black;
}

.py-5 {
  padding-bottom: 3rem;
}
.container {
  max-width: 960px;
  margin-right: auto;
  margin-left: auto;
}
.align-items-center {
  align-items: center;
}
.col-lg-6 {
  flex: 0 0 50%;
  max-width: 50%;
}
.title-small {
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 30px;
  letter-spacing: 1px;
  color: #7e7d7d;
  display: block;
}
.title-big {
  font-size: 32px;
  line-height: 40px;
}
.mt-md-4 {
  margin-top: 1.5rem;
}
.pt-lg-2,
.py-lg-2 {
  padding-top: 0.5rem;
}
p {
  font-size: 17px;
  line-height: 27px;
  color: var(--font-color);
  opacity: 0.8;
}
.right .row {
  padding: 0 10px;
}
.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}
.position-relative {
  position: relative;
}
.right .col-6 {
  flex: 0 0 50%;
  max-width: 50%;
}
.radius-image {
  border-radius: var(--border-radius);
}
.img-fluid {
  max-width: 100%;
  height: auto;
}
.mt-4 {
  margin-top: 1.5rem;
}
.mb-2 {
  margin-bottom: 0.5rem;
}

.service-list {
  list-style: none;
  text-decoration: none;
}
.service-link span {
  margin: 0 10px;
}
ul.service-list li a {
  font-size: 18px;
  line-height: 28px;
  font-weight: 600;
  color: var(--heading-color);
  position: relative;
}
ul.service-list li span {
  font-size: 18px;
  line-height: 28px;
  font-weight: 600;
  color: green;
  position: relative;
}
.w3l-homeblock1 ul.service-list li {
  display: block;
  margin-bottom: 15px;
}
/* start features */
.w3l-features {
  background: var(--bg-grey);
}
.w3l-features .call-grids-w3 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 25px;
}
.w3l-features .box-wrap {
  padding: 40px 30px;
  border-radius: var(--border-radius);
  text-align: center;
  box-shadow: rgb(1 1 1 / 5%) 1px 1px 5px 0px;
  background-color: var(--bg-color);
  transition: 0.3s ease;
  -webkit-transition: 0.3s ease;
}
.w3l-features .box-wrap img {
  max-width: 65px;
  display: block;
  margin: 0 auto;
}
h4 {
  margin: 0;
  padding: 0;
}
.w3l-features .box-wrap h4 a {
  font-size: 22px;
  line-height: 28px;
  font-weight: 600;
  margin-top: 25px;
  display: block;
  color: var(--heading-color);
}
.w3l-features .box-wrap h4 a:hover {
  color: #00a63f;
  transition: 0.5s;
  text-decoration: none;
}
.py-5 {
  padding-bottom: 3rem;
}
.blog-info {
  padding: 0 20px;
  position: relative;
}
.blog-info a.title {
  font-size: 19px;
  line-height: 28px;
  font-weight: 600;
  color: var(--heading-color);
  text-align: center;
  background: var(--bg-color);
  padding: 12px 35px;
  display: inline-block;
  border: 1px solid var(--border-color);
  border-radius: var(--border-radius);
  transform: translateY(-25px);
  box-shadow: rgb(1 1 1 / 5%) 1px 1px 5px 0px;
}
.service-image {
  border-top-left-radius: var(--border-radius);
  border-top-right-radius: var(--border-radius);
}
.title-big {
  font-size: 32px;
  line-height: 40px;
}
.text-center {
  text-align: center;
}
.blog-info a.title {
  font-size: 19px;
  line-height: 28px;
  font-weight: 600;
  color: var(--heading-color);
  text-align: center;
  background: var(--bg-color);
  padding: 12px 35px;
  display: inline-block;
  border: 2px solid var(--border-color);
  border-radius: var(--border-radius);
  transform: translateY(-25px);
}
.blog-info a.title:hover {
  color: #00a63f;
  text-decoration: none;
  transition: 0.5s;
}
.blog-info p.text-para {
  margin-top: -10px;
}
p {
  margin: 0;
  padding: 0;
  font-size: 17px;
  line-height: 27px;
  color: var(--font-color);
  opacity: 0.8;
}
.btn-style1 {
  padding: 8px 35px;
  font-size: 16px;
  line-height: 28px;
  font-weight: 600;
  transition: 0.3s ease-in;
  color: var(--heading-color);
  border-radius: var(--border-radius);
}

body {
  font-family: "Jost", sans-serif;
}

a:hover {
  text-decoration: none;
}

/* start gallery */

.gallery {
  padding: 48px 0px;
  background-color: #f8f9fa;
}

.title-small {
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 0px;
  text-transform: uppercase;
  color: #7e7d7d;
  letter-spacing: 1px;
}

.title-big {
  font-size: 35px;
}

.gallery .gallery__img img {
  width: 100%;
}

.gallery .card {
  margin-top: 30px;
  position: relative;
  overflow: hidden;
  border: none;
}

.gallery .card:hover img {
  transform: scale(1.1);
  transition: all 0.5s;
}

.gallery .hover--background {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgb(29 42 55 / 70%);
  opacity: 0;
  transition: all 0.5s;
  display: block;
}

.gallery .card:hover .hover--background {
  opacity: 1;
}

.gallery .card-body {
  position: absolute;
  bottom: 0;
  padding: 40px;
  transform: translateY(200px);
  color: #fff;
  transition: all 0.5s;
}

.gallery .card:hover .card-body {
  transform: translateY(0px);
}

.lb-data .lb-caption {
  font-size: 18px;
  display: block !important;
  margin: 20px 0;
}

.lb-data .lb-number {
  color: #009f4d;
  font-size: 1em;
}

.gallery .gellary__logo img {
  width: 100%;
  display: block;
}

.gallery .gellary__logo {
  border-top: 1px solid #eee;
}

/* end gellary */

.progress {
  display: flex;
  text-align: center;
  height: 5px;
}

.results .progress--name {
  position: relative;
}

.results .progress .bg-success {
  color: #61fded;
  background-color: #0d8abc;
  background-image: linear-gradient(-224deg, #0d8abc, #61fded);
}

.results .progress .bg-info {
  color: #eece90;
  background-color: #d45529;
  background-image: linear-gradient(-224deg, #d45529, #eece90);
}

.results .progress .bg-warning {
  color: #5c51ff;
  background-color: #f646a9;
  background-image: linear-gradient(-224deg, #f646a9, #5c51ff);
}

.results .progress .bg-danger {
  color: #e5529a;
  background-color: #e77654;
  background-image: linear-gradient(-224deg, #e77654, #e5529a);
}

.results .progress .progress-bar::after {
  content: "";
  height: 13px;
  width: 13px;
  border-radius: 50%;
  border: 3px solid;
  position: absolute;
  background-color: #fff;
  transform: translate(-50%, -50%);
  top: 95%;
}

.results .progress .progress-bar::before {
  content: "";
  height: 30px;
  width: 30px;
  border-radius: 50%;
  border: 1px solid;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 95%;
  opacity: 0.3;
}

.results .progress .bg-success::after,
.results .progress .bg-success::before {
  left: 80%;
}

.results .progress .bg-info::after,
.results .progress .bg-info::before {
  left: 95%;
}

.results .progress .bg-warning::after,
.results .progress .bg-warning::before {
  left: 60%;
}

.results .progress .bg-danger::after,
.results .progress .bg-danger::before {
  left: 85%;
}

.testimonials .testimonials__item p {
  font-size: 18px;
  color: #666;
  opacity: 0.8;
}

/* testimonials */

.testimonials {
  padding: 70px 0;
  background-color: #f8f9fa;
}

.testimonials .testimonials__item {
  margin: 70px 0;
}

.testimonials .testimonials__author {
  display: flex;
  justify-content: center;
  align-items: center;
}

.testimonials .testimonials__image {
  width: 70px;
  height: 70px;
  overflow: hidden;
  border-radius: 50%;
  margin-right: 20px;
}

.testimonials .testimonials__image img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: top;
}

.testimonials .testimonials__infor {
  text-align: left;
}

.testimonials .testimonials__infor h4 {
  margin: 0;
  font-weight: 600;
  font-size: 20px;
}

.testimonials .testimonials__infor p {
  margin: 0;
}

.slick-dots li button:before {
  font-size: 12px;
}

.slick-dots li.slick-active button:before {
  font-size: 18px;
}

.slick-dots {
  bottom: 0px;
}

/* blogs */

.blogs {
  padding: 70px 0;
}

.blogs .blogs__card {
  width: 100%;
}

.blogs .card__overs {
  overflow: hidden;
}

.blogs .card__overs img {
  width: 100%;
  transition: all 0.5s;
}

.blogs .blogs__card .card img:hover {
  transform: scale(1.1);
}

.card {
  border: none;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.blogs .card-title a {
  font-weight: 400;
  font-size: 17px;
  color: #999;
}

.blogs .card-body h2 a {
  display: block;
  font-size: 20px;
  line-height: 28px;
  font-weight: 600;
  color: var(--heading-color);
  margin-top: 10px;
  transition: all 0.5s;
}

.blogs .card-footer span {
  color: #a3a3a3;
  font-weight: 600;
}

.blogs .card-footer span a {
  color: #000;
  font-weight: 600;
  transition: all 0.5s;
}

.blogs .hover-text:hover {
  color: #009f4d;
}

.blogs .card-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.blogs .card-date p {
  margin: 0;
}

.blogs .card-footer {
  padding: 0.8rem 1.25rem;
  border-top: 1px solid #eee;
}

/* subscribe */

.subscribe {
  background: url(./img/background.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  z-index: 2;
  background-color: #151421;
  color: #fff;
}

.subscribe .subscribe__content {
  max-width: 60%;
  margin: 0 auto;
}

.blogs .subscribe {
  background: url(./img/map.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.subscribe .subscribe__email {
  align-items: center;
}

.subscribe .subscribe__email i {
  height: 60px;
  padding: 0 20px;
  line-height: 60px;
  border: 1px solid rgb(255 255 255 / 15%);
  border-right: none;
}

.subscribe .subscribe__email input {
  height: 60px;
  width: 50%;
  background-color: rgb(0 0 0 / 20%);
  outline: none;
  border: 1px solid rgb(255 255 255 / 15%);
  padding: 0 25px;
}

.subscribe .subscribe__email button {
  border: 1px solid rgb(255 255 255 / 15%);
  background-color: rgb(0 0 0 / 20%);
  color: #fff;
  height: 60px;
  background-color: #009f4d;
  padding: 0 25px;
  font-weight: 600;
  transition: all 0.5s;
  outline: none;
}

.subscribe .subscribe__email button:hover {
  background-color: #008030;
}

/* footer */

.footer {
  background-color: #151421;
  border-top: 1px solid rgb(255 255 255 / 15%);
  border-bottom: 1px solid rgb(255 255 255 / 15%);
}

.footer .footer__logo i {
  font-size: 30px;
  color: var(--primary-color);
  margin-right: 10px;
  color: #009f4d;
  font-weight: 700;
}

.footer .footer__icon i {
  margin-right: 15px;
  color: #97a1a9;
  transition: all 0.5s;
}

.footer .footer__icon i:hover {
  color: #fff;
}

.footer .footer__logo a {
  color: #fff;
}

.footer .footer__logo a p {
  color: #fff;
  font-size: 15px;
  font-weight: 500;
}

.footer .row p a {
  color: #97a1a9;
  transition: all 0.5s;
}

.footer .row p a:hover {
  color: #fff;
}

.footer .row p {
  color: #97a1a9;
  font-size: 17px;
}

.footer .row h3 {
  color: #fff;
  font-size: 22px;
  font-weight: 400;
  margin-bottom: 25px;
}

/* copuright */
.copyright {
  padding: 20px 0;
  background-color: #151421;
  color: #97a1a9;
}
.copyright p {
  text-align: center;
  margin: 0;
}

/* scroll */

.scrollTop {
  position: fixed;
  right: 20px;
  bottom: 20px;
  z-index: 10;
}

.scrollTop span {
  height: 60px;
  width: 60px;
  line-height: 60px;
  text-align: center;
  background-color: #009f4d;
  color: #fff;
  display: block;
  border-radius: 50%;
  cursor: pointer;
}
